<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
    <div class="relative w-full h-[400px] bg-cover bg-center ">
    
  <div class="absolute inset-0 bg-gradient-to-r from-indigo-500 via-sky-500 to-emerald-500 opacity-70"></div>
  <div class="relative z-10 flex items-center justify-center h-full text-white">
    <!-- Your content on top of the background + gradient -->
    <h1 class="text-3xl font-bold">Hello World</h1>
  </div>
</div>
</body>
</html>