{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
            <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
    <main class="w-full h-[100vh] bg-red-700 flex justify-center items-center">
         <div class="w-100 h-100 bg-white boredr-1 flex flex-col justify-around items-center p-3 rounded-xl">
            <img src="{% static 'images/BMS_logo_new.png' %}" alt="" class="w-40 h-10 " >
            <form action="/register/" method="post" class="w-full h-70 flex justify-evenly items-center flex-col" >
                {% csrf_token %}
            <input type="text" required name="name" placeholder="NAME" class="rounded w-70 h-10 border pl-4 placeholder:text-center ">
            <input type="email" required name="email" placeholder="EMAIL" class="rounded w-70 h-10 border pl-4 placeholder:text-center  ">
             <input type="password" required name="password" placeholder="PASSWORD" class="rounded w-70 h-10 border  pl-4 placeholder:text-center">
             <div class="flex gap-x-5">
                 <input type="submit" value="REGISTER" class="bg-red-500 text-white p-3 rounded-xl" >
                 <a href="/login/"><input type="button" value="LOGIN" class="bg-red-500  text-white p-3 rounded-xl" ></a>
               
</form>            

             </div>

    </main>
    
</body>
</html>